body {
    background: dodgerblue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Matura MT Script Capitals";
    font-size: 12px;
    line-height: 1.6;


}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}


.header {
    margin-top: 30px;
    margin-left: 50px;
    border: 4px solid white;
    padding: 15px;
    position: absolute;
    border-style: solid double;
}

.Sanya {
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
    text-align: center;
}




.container {
    display: flex;
    position: absolute;
    margin-top: 480px;
    margin-left: 100px;


}


.foto1 {

}


.foto2 {
    margin-left: 4px;
}

.foto3 {
    margin-left: 4px;
}

.container2 {
    position: absolute;
    margin-top: 770px;
    margin-left: 50px;

}


.container3 {
    position: absolute;
    display: flex;
    flex-direction: column ;
    margin-top: 770px;
    margin-left: 300px;
}


.container4 {
    position: absolute;
    margin-top: 770px;
    margin-left: 560px;

}









